{{- $gpg_fingerprint := promptString "GPG Signingkey" -}}

[data]
    full_name = "Patrick Csikos"
    git_username = "zelikos"
    git_email = "pcsikos@zelikos.dev"
    gpg_fingerprint = {{ $gpg_fingerprint | quote }}

[edit]
	command = "micro"
